body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.categories {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories ul li {
    margin: 10px 0;
    cursor: pointer;
}

main {
    flex: 1;
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.product-card.out-of-stock {
    background-color: #f8d7da; /* Серый цвет для карточек с нулевым остатком */
    color: #721c24;
    pointer-events: none; /* Отключаем кликабельность */
}

.product-card h3 {
    margin: 0;
    font-size: 18px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.product-card .actions button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card .actions button:hover {
    background-color: #0056b3;
}

.product-card .actions span {
    font-size: 16px;
    font-weight: bold;
}

.cart-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.cart-button:hover {
    background-color: #0056b3;
}